In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [41]:
Awards_file = "../Resources/Award_Database.csv"
Awards_df=pd.read_csv(Awards_file, encoding = "utf8")
Awards_df.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [42]:
Metadata_file = "../Resources/movies_metadata.csv"
Metadata_df=pd.read_csv(Metadata_file, encoding = "utf8")
Metadata_df.head()

C:\Users\fendi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [43]:
Awards_df.columns

Index(['Year', 'Ceremony', 'Award', 'Winner', 'Name', 'Film'], dtype='object')

In [44]:
Metadata_df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

### Transform Metadata DataFrame

In [45]:
# Create a filtered dataframe from specific columns
Metadata_cols = ["budget", "release_date", "revenue","runtime", "title","vote_average", "vote_count"]
Metadata_transformed= Metadata_df[Metadata_cols].copy()

#Rename the column headers
Metadata_transformed = Metadata_transformed.rename(columns={"budget":"Budget",
                                                            "release_date":"Release_Date",
                                                            "revenue":"Revenue",
                                                            "runtime":"Runtime",
                                                            "title":"Film",
                                                            "vote_average":"Vote_Average",
                                                            "vote_count":"Vote_Count"})
Metadata_transformed.head()

,Budget,Release_Date,Revenue,Runtime,Film,Vote_Average,Vote_Count
0,30000000,1995-10-30,373554033.0,81.0,Toy Story,7.7,5415.0
1,65000000,1995-12-15,262797249.0,104.0,Jumanji,6.9,2413.0
2,0,1995-12-22,0.0,101.0,Grumpier Old Men,6.5,92.0
3,16000000,1995-12-22,81452156.0,127.0,Waiting to Exhale,6.1,34.0
4,0,1995-02-10,76578911.0,106.0,Father of the Bride Part II,5.7,173.0

In [58]:
#Identify Data types for columns
Awards_df.dtypes

Year         object
Ceremony      int64
Award        object
Winner      float64
Name         object
Film         object
dtype: object

In [63]:
#Convert the Winner column from int to object
Awards_df['Winner'].astype(str)

0       nan
1       1.0
2       nan
3       1.0
4       nan
5       nan
6       1.0
7       nan
8       nan
9       1.0
10      1.0
11      1.0
12      nan
13      1.0
14      nan
15      nan
16      nan
17      1.0
18      nan
19      nan
20      nan
21      1.0
22      1.0
23      nan
24      nan
25      nan
26      nan
27      1.0
28      nan
29      1.0
       ...
9934    nan
9935    1.0
9936    1.0
9937    nan
9938    nan
9939    nan
9940    nan
9941    nan
9942    1.0
9943    nan
9944    nan
9945    nan
9946    1.0
9947    nan
9948    nan
9949    nan
9950    nan
9951    1.0
9952    nan
9953    nan
9954    nan
9955    nan
9956    nan
9957    nan
9958    nan
9959    1.0
9960    nan
9961    1.0
9962    1.0
9963    1.0
Name: Winner, Length: 9964, dtype: object

In [65]:
#Change all NAN to No
values = {'Winner':'No'}
AwardsNA = Awards_df.fillna(value=values)
AwardsNA.head()

        Year  Ceremony    Award Winner                 Name              Film
0  1927/1928         1    Actor     No  Richard Barthelmess         The Noose
1  1927/1928         1    Actor      1        Emil Jannings  The Last Command
2  1927/1928         1  Actress     No       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress      1         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     No       Gloria Swanson    Sadie Thompson

In [71]:
#Replace all 1.0 to Yes in the Winner column
Awards_cleaned = AwardsNA.replace({'Winner': 1}, 'Yes')

In [72]:
Awards_cleaned.head()

        Year  Ceremony    Award Winner                 Name              Film
0  1927/1928         1    Actor     No  Richard Barthelmess         The Noose
1  1927/1928         1    Actor    Yes        Emil Jannings  The Last Command
2  1927/1928         1  Actress     No       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress    Yes         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     No       Gloria Swanson    Sadie Thompson

### Create Database Connections

In [74]:
#connection_string = "root:<Stesha007>@127.0.0.1/ETLMovieProject_db"
engine = create_engine("mysql://root:J@ssI710@localhost:3306/etlmovieproject")
conn = engine.connect()

In [75]:
engine.table_names()

['awards', 'metadata']

### Load DataFrames into database

In [76]:
Awards_cleaned.to_sql(name='awards', con=engine, if_exists='append', index=False)

UnicodeEncodeError: 'latin-1' codec can't encode character '\u201c' in position 0: ordinal not in range(256)

In [50]:
Metadata_transformed.to_sql(name='metadata', con=engine, if_exists='append', index=True)

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2153' in position 16: ordinal not in range(256)